<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/restaurants.css" />
  </head>
  <body>
    <%- include('includes/header') %> <%- include('includes/side-drawer') %>
    <main>
      <h1>Recommended restaurants</h1>
      <% if (numberOfRestaurants === 0) { %>
      <p>
        Unfortunately, we don't have any restaurants yet - maybe you can start
        recommend it here
      </p>
      <a href="/recommend"><button>Add Recommended Restaurant</button></a>
      <% } else { %>
      <p>Find your next favorite restaurants with help of our other users!</p>
      <p>We found <%= numberOfRestaurants %> Restaurants.</p>
      <ul id="restaurants-list">
        <% for (const restaurant of restaurants) { %> 
          <%- include('includes/restaurants/items', {restaurant: restaurant}) %> 
        <% }%>
      </ul>
      <a href="/recommend"><button>Add More</button></a>
      <% } %>
    </main>
  </body>
</html>
